.background--custom {
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: -2;
    top: 0;
    left: 0;
  }
  canvas#canvas {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 60%;
    transform: rotate(12deg) scale(2) translateY(-52%);
    --gradient-color-1: #EF0000; 
    --gradient-color-2: #6EC3F4; 
    --gradient-color-3: #B5FF38;  
    --gradient-color-4: #ffba27;
    --gradient-speed: 0.000016;
  }

body {
  font-family: 'Montserrat', sans-serif;
  margin: 140px 30px 0px 30px;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 20px;
}

.Title {
  height: 250px;
  width: 190px;
  float: left;
  padding-inline-end: 20px;
}

.art {
  height: 275px;
  margin-top: 40px;
}

div {
  font-size: 50px;
  text-align: center;
}

i {
  color: black;
}